@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 40px;
}
p{
    font-size: 40px;
    font-size: 2rem;
    color: rgb(16, 16, 16);
    text-align: center;
    text-align: justify;
    text-align: left;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.5;
    text-shadow: 1px 1px 4px 0 coral;
}

a{
    text-decoration: none;
   font-size: 60px;
   color: blue;

}

